.KumbhNavBar {
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 222, 210, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      gap: 1rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      font-weight: 600;
      li:last-child{
        margin-right: 3rem;
      }
      li{
        a:hover{
            color: #2875d8;
            text-decoration: underline;
        }
      }
    }
  }
}
