.LoginContainer {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  .LoginForm {
    width: 40%;
    height: 100%;
    padding-top: 5rem;
    border-right: 3px solid tomato;
    .title{
      text-align: center;
      font-size: 2rem;
      font-family: "Playfair Display", serif;
      border-bottom: 1px solid #333;
      margin: 1rem 10rem;
    }
    form {
      width: 100%;
      height: 100%;
      margin-top: 2rem;
      padding: 2rem;
      .field {
        display: flex;
        flex-direction: column;
        input {
          border: 1px solid #333;
          margin-top: 2rem;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;
          font-family: "Playfair Display", serif;
        }
        input:first-child {
          margin-top: 0rem;
        }
      }
      .forgotPassword {
        float: right;
        margin-top: 1rem;
        color: rgb(52, 52, 255);
        a {
          font-family: "Playfair Display", serif;
        }
      }
      .checkbox {
        margin-top: 2.2rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        p {
          font-size: 1rem;
        }
      }
      .LoginBtn {
        margin-top: 2rem;
        width: 100%;
        height: 3rem;
        // border: 1px solid red;
        background-color: rgb(251, 134, 113);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 0.8rem;
        cursor: pointer;
        color: #fff;
        button {
          font-family: "Playfair Display", serif;
        }
      }
      .SignupBtn {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: "Playfair Display", serif;
          a {
            color: blue;
            font-family: "Playfair Display", serif;
          }
        }
      }
    }
  }
  .ShowImage {
    width: 60%;
    height: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 100%;
      height: 80%;
      // border: 1px solid red;
      border-radius: 0.5rem;
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      height: 2 0%;
    }
  }
}
