.RegisterContainer {
  display: flex;
  padding: 2rem 1rem;
  width: 100%;
  height: 110vh;
  .RegisterForm {
    width: 40%;
    height: 100%;
    padding-top:1rem;
    border-left: 3px solid tomato;
    padding-bottom: 2rem;
    p {
      text-align: center;
      font-size: 2rem;
      font-family: "Playfair Display", serif;
    }
    form {
      width: 100%;
      height: auto;
      padding: 2rem;
      .field1 {
        display: flex;
        gap: 1rem;
        input {
          border: 1px solid #333;
          //   margin-top: 2rem;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;
          font-family: "Playfair Display", serif;
          width: 50%;
        }
      }
      .field {
        display: flex;
        flex-direction: column;
        input {
          border: 1px solid #333;
          margin-top: 1rem;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;
          font-family: "Playfair Display", serif;
        }
      }
      .checkbox {
        margin-top: 1.2rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        p {
          font-size: 1rem;
        }
      }
      .LoginBtn {
        margin-top: 1rem;
        width: 100%;
        height: 3rem;
        // border: 1px solid red;
        background-color: rgb(251, 134, 113);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 0.8rem;
        color: #fff;
        cursor: pointer;
        button {
          font-family: "Playfair Display", serif;
        }
      }
    }
    .RegisterBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-family: "Playfair Display", serif;
        a {
          color: blue;
          font-family: "Playfair Display", serif;
        }
      }
    }
    .otherSection {
      h4 {
        text-align: center;
      }
      .otherLink {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p {
          display: flex;
          cursor: pointer;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          width: 50%;
          padding: 0.4rem;
          border: 1px solid #333;
          margin: 0rem 4rem;
          border-radius: .5rem;
        }
      }
      span {
        color: rgb(62, 62, 255);
        font-size: 2rem;
      }
    }
  }
  .RegisterShowImage {
    width: 60%;
    height: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 100%;
      height: 80%;
      // border: 1px solid red;
      border-radius: 0.5rem;
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      height: 2 0%;
    }
  }
}
