.DashboardNavBar {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0rem 2rem;
  background-color: rgba(156, 81, 81, 1);
  .Logo {
    width: 40%;
    height: 100%;
    img {
      width: 20%;
      cursor: pointer;
      height: 100%;
    }
  }
  .NavBar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    ul {
      // border: 1px solid #000;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      li {
        width: auto;
        text-align: right;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        .User {
          // border: 1px solid red;
          font-size: 1.5rem;
          float: right;
        }
        .User:hover {
          color: rgb(255, 201, 54);
        }
        .darkMode {
          font-size: 1.5rem;
          float: right;
          margin-right: 1rem;
        }
      }
    }
  }
  .UserProfile {
    position: absolute;
    top: 12%;
    right: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transform-origin: top right;
    transition: 0.2s linear;
    z-index: 1200;
    img {
      width: 5rem;
      height: 5rem;
      border: 1px solid #ddd;
      border-radius: 50%;
    }
    h3 {
      font-weight: 600;
      font-family: "Barlow";
    }
    p {
      font-family: "Barlow";
    }
    .Btn {
      display: flex;
      gap: 0.5rem;
      width: 100%;
      padding: 1rem;
      // border: 1px solid red;
      a {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.5rem;
        text-align: center;
        color: #fff;
      }
      .Profile {
        background-color: var(--main-color);
        border-radius: 0.5rem;
      }
      .Profile:hover {
        background-color: var(--black);
        color: #fff;
      }
      .Logout {
        background-color: var(--orange);
        border-radius: 0.5rem;
      }
      .Logout:hover {
        background-color: var(--black);
        color: #fff;
      }
    }
  }
  .UserProfile.active {
    transform: scale(1);
  }
}
