.ARVR {
  width: 100%;
  height: 35rem;
  background: linear-gradient(rgba(28, 27, 51, 0.9), rgba(28, 27, 51, 0.9)),
    url("../Images/planPriv.png") center/cover no-repeat;
  padding: 2rem;
  .ARVRheading{
    text-align: center;
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: underline;
    padding: .5rem;
  }
  .Container {
    width: 100%;
    height: 70%;
    display: flex;
    gap: 1rem;
    .Games,
    .AR,
    .VR {
      width: 33.33%;
      height: 100%;
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 1rem;
      cursor: pointer;
      img {
        width: 100%;
        height: 80%;
        border: 1px solid #000;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
      .heading {
        width: 100%;
        margin-top: 1.4rem;
        font-size: 1.4rem;
        text-align: center;
        color: #000;
      }
    }
  }
  .Comming {
    margin-top: 2rem;
    float: right;
    font-size: 1rem;
    color: #fff;
  }

  /* Modal Styles */
  .Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .Modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    width: auto;
    text-align: center;
    position: relative;
  }

  .Modal-header {
    position: absolute;
    top: 0;
    right: 0;
    padding:0 .6rem;
  }

  .CloseButton {
    background: none;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    &:hover {
      color: #f00;
    }
  }
  .ModalContainer{
    display: flex;
    gap: 1rem;
  }
  .Modal-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .DownloadButton {
    padding: 0.8rem 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    &:hover {
      background-color: #0056b3;
    }
  }
}
